body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  height: 1.5rem;
  background-color: #6b778d;
  color: white;
  border: none;
  border-radius: 10px;
}

.header {
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  background-color: #e3c4a8;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    display: block;
    padding: 0.3rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #8b5d5d;

    &:first-child {
      font-size: 3rem;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  height: 15rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: #e3c4a8;
}

.input-wrapper {
  margin: 5px 2px;

  input {
    display: block;
    width: 200px;
    height: 30px;
  }

  textarea {
    height: 20px;
    width: 200px;
    margin: 2px;
  }
}

.message-list {
  display: flex;
  flex-direction: column;

  max-width: 900px;
  width: 100%;
  height: 85vh;
  margin: 0 auto;
  margin-bottom: 2rem;
  flex-grow: 1;
  overflow-y: scroll;

  .message {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.5rem;
    height: 6rem;
    width: 80%;

    border-radius: 12px;
    background-color: #8b5d5d;
    color: white;
    .message-text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin: 0 3px;
      }
    }

    .reply-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .reply-list-title {
        font-weight: 600;
      }
      p {
        margin: 1px 0;
        font-size: 1rem;
      }
      .reply-button {
        margin: 5px auto;
        margin-right: -2px;
      }
    }

    .form-reply {
      display: flex;
      justify-content: space-between;
      .input-wrapper-reply {
        margin: 0 3px;
      }
    }
  }
}
